
* {
    box-sizing: border-box;
}

/* Pantall principal */
body {
    background-color: #000;
}

.estrenos, .accion, .comedia, .heroe, .animacion {
    display: flex;
    grid-area: estreno;
    width: 100%;
    overflow-x: auto;
}

/* .accion::-webkit-scrollbar, .estrenos::-webkit-scrollbar, .heroe::-webkit-scrollbar, .comedia::-webkit-scrollbar, .animacion::-webkit-scrollbar {
    visibility: hidden;
} */


.scroll-accion {
    display: flex;
    justify-content: space-between;
}

.scroll-adelante {
    margin-bottom: 20px;
    margin-right: 100px;
}

.scroll-atras {
    margin-bottom: 20px;
    margin-left: 20px;
}

.header-principal {
    grid-area: cabeza;
    background: url(../imagenes/the-batman-dc-darkness-4k-0o-1920x1080.jpg) no-repeat;
    background-size: cover ;
    background-position: center center;
    height: 500px;
}

footer {
    grid-area: pie;
}

.pelicula {
    width: 400px;
    margin-left: 50px;
}

.logo {
    position: relative;
    width: 50px;
}

.contenedor-logo {
    display: flex;
    text-align:end;
}


.imagen-logo {
    right: -100px;
    width: 175px;
}

.contenedor-menu .navMenu a, .botones-principal a {
    text-decoration: none;
}

/* Submenu de categorias */

.casita-principal, .configuracion-principal, .back-principal {
    width: 40px;
    transition: 0.5s;
    color: #ffffff;
}

.lista-principal {
    width: 50px;
    height: 45px;
}

.casita-principal:hover, .configuracion-principal:hover, .back-principal:hover {
    color: #fff;
    border-bottom: 1px solid #1b71d3;
    transition: 0.5s;
}

.desactivado:hover {
    border-bottom: none;
    cursor: not-allowed;
}


.actual {
    border-bottom: 1px solid lightgray;
}

.actualApagado {
    border-bottom: 1px solid #000;
}

.link-categorias {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.categorias {
    display: inline-block;
    position: relative;
    padding: 0px;
} 

.categorias-content {
    display: none;
    position: absolute;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


 .categorias-content a {
    display: block;
    color: #fff;
    padding: 5px;
    text-decoration: none;
}

.categorias:hover .categorias-content {
    display: block;
}

.categorias-content a:hover {
  color: #FFF;
  background-color: #1b71d3ab;
  transition: 0.4s;
}

.btn-categorias {
    margin-top: 1px; 
    border: 0;
    background: 0;
    color: #FFF;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
}


.caratula {
    height: 400px;
    width: 280px;
    
}

.titulo-pelicula, .sub-temas, .subtitulo, .p-texto {
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.subtitulo {
    margin-top: 30px;
}

.casita-principal, .configuracion-principal {
    width: 40px;
}

.subtitulo {
    text-align: start;
    margin-left: 50px;
    margin-bottom: 10px;
}


.p-texto {
    text-align: justify;
    font-size: 18px;
}

.boton-principal {
    padding: 10px;
    position: relative;
    margin-left: 4px;
}


/* PÃGINAS IDIVIDUALES */

.contenedor-header {
    align-items: center;
    background: none;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.logo-individual {
    width: 40%;
}

.contenedor-menu {
    display: flex;
    justify-content: space-between;
}

.contenedor-info {
    display: flex;
    margin-left: 100px;
    margin-bottom: 50px;
}

.contenedor-a {
    display: flex;
    width: 100%;
}
.contenedor-a { 
    display: flex; 
    width: 100%; 
}

button {
    display: none;
}
.informacion-sobre-pelicula {
    /* border: 1px solid red; */
    width: 700px;
    
}
.info {
    margin-left: 60px;
    margin-top: 90px;

}

.imagen {
    /* align-items: center; */
    width: 400px;
    display: flex;
    justify-content: flex-end;
}

.navMenu {
    display: flex;
    flex-direction: row;
    padding: 30px;
    align-items: start;
    margin-left: 20px;
}

.navMenu a {
    list-style: none;
    margin: 0 30px;
    color: #fff;
    font-size: 22px;
    text-decoration: none;
    /* background-color: #fff; */
    transition: 1s;
}

.navMenu:hover a {
    /* color: #575757; */
    transition: 1s;
}

/* .navMenu:hover a:hover {
    color: #5193df;
    box-shadow: 0 2px 0 0;
    transition: 1s;
    border-bottom: 0.5px solid #5193df;
} */

.boton-principal, .ver, .boton-trailer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    padding: 15px;
    font-size: 16px;
}

.contenedor-trailerTicket {
  
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .contenedor-trailerTicket button {
    margin: 4px;
 }

.ver, .boton-trailer {
    display: flex;
    position: relative;
    left: 17px;
    top: 0;
    height: 46px;
    background-color: #1A1E27;
    color: #fff;
    border-radius: 15px;
    transition: 0.2s all;
    cursor: pointer;
    align-items: center;
} 


.ver:hover, .boton-trailer:hover {
    background-color: #024da1;
    transition: .2s all;
    text-decoration: underline;
}

.botones-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65%;
} 

.boton-principal {
    /* position: relative; */
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #1A1E27;
    color: #fff;
    border-radius: 15px;
    transition: 0.2s all;
    cursor: pointer;
    /* text-decoration-line: underline; */
}


.boton-principal:hover {
    background-color: #024da1;
    transition: .2s all;
    text-decoration: underline;
}

.texto, .sub-temas, .titulo-pelicula {
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

.titulo-pelicula {
    font-size: 28px;
}



/* MODAL PARA TRAILERS */
.modal-trailer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    visibility: hidden;
}

.modal-trailer.active {
    visibility: visible;
}

.contenido-trailer {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 55%;
    height: 60%;
    background-color: rgba(20, 21, 22, 1);
    margin: 10% auto;
    border: 0;
    border-radius: 25px;
    opacity: 0;
    transition: ease-in-out 0.2s all;
}

.contenido-trailer.active {
    opacity: 1;
}

.video {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}


.cerrar-trailer {
    align-self: flex-end;
    margin-right: 30px;
    height: 0px;
}

.cerrar-trailer > p {
    color: #fff;
    font-size: 22px;
    background: #1A1E27;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s all;
}

.cerrar-trailer > p:hover {
    color: red;
    background-color: #2b2b2c;
    transition: 0.2s all;
}

.contenedor-trailer-titulo {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 95%;
}

.titulo-trailer {
    color: #fff;
    font-size: 20px;
}

/* Comprar */

#cuerpo-comprar {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #000; 
    height: 600px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dia-select,.idioma-select, .contenedor-tarjeta-comprar input {
    border-radius: 10px;
}

.contenedor-general-comprar {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selecciones-comprar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dia-comprar {
    margin-right: 20px;
}

.label-comprar, h2, h1 {
    color: #fff;
    text-align: center;
}

.horario {
    display: flex;
    align-items: center;
    justify-content: center;
}

.horario label {
    margin-left: 10px;
}

.metodos-pago-comprar {
    display: flex;
    align-items: center;
    width: 700px;
    justify-content: space-evenly;
}

.metodos-pago-comprar input {
    background-color: #505257;
    color: #fff;
    border: none;
    padding: 5px 10px;
}

.dia-select option, .idioma-select option {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #000;
    color: white;
}

.dia-select, .idioma-select {
    background-color: #505257;
    border: none;
    padding: 5px 10px;
    color: #fff;
}

.primera-compra {
    margin-left: 30px;
}

.contenedor-tarjeta-comprar {
    display: flex;
    align-items: center;
}

.contenedor-tarjeta-comprar img {
    width: 15%;
}

.contenedor-tarjeta-compra input {
    height: 40%;
}

.botones-comprar {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
}


.botones-comprar img {
    width: 28px;
}

.botones-comprar p {
    color: #fff;
}

#boton-comprar, .boton-cancelar-compra {
    padding-right: 15px;
    display: flex;
    border-radius: 15px;
    background: #1A1E27;
    border: none;
    margin-right: 20px;
    cursor: pointer;
    align-items: center;
}

#boton-comprar:hover, .boton-cancelar-compra:hover {
    background-color: #2b2b2c;
    transition: .2s all;
    text-decoration: underline;
}

/* Modal compra */
.modalito {
    /* display: none; */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.4);
    visibility: hidden;
}

.active-modal {
    visibility: visible;
}

.contenido {
    background-color: #202C3F;
    margin: 15% auto;
    border-radius: 25px;
    width: 30%;
    padding: 20px;
    border: 1px solid #888;
    /* transform: translatey(-200%); */
    transition: ease-in-out 0.2s all;
    opacity: 0;
    border: 0;
}

.contenido.active-modal {
    opacity: 1;
}

.cerrar {
    margin: 0 auto;
    padding: 5px 10px;
    display: flex;
    border-radius: 15px;
    background: #1A1E27;
    border: none;
    cursor: pointer;
    align-items: center;
    color: #fff;
}

.cerrar:hover {
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s all;
    background-color: #2b2b2c;
}

.abrir {
    margin-top: 20px;
}

.check {
    display: flex;
    margin: 0 auto;
}


.contenido h3, .contenido p{
    color: #fff;
    text-align: center;
}
