/* NOTIFICACIONES */
.header-de-notificaciones {
    display: flex;
    justify-content: space-around;
} 

.header-de-notificaciones img {height: 120px;}

.titulo h2, .notificacion-desact {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18pt;
}

.notificacion-desact input {margin: 10px;}

/* La parte del cuerpo de notificaciones */
.articulos-de-notificaciones {
    display: flex;
    flex-direction: column; 
}

.secciones-de-notificaciones {
    justify-content: space-around;
    border: 1px solid rgb(31, 29, 29);
    border-radius: 5px;
    display: flex; 
}

.secciones-de-notificaciones img {height: 150px;}

.informaciones-notificaciones {
    margin: 0 auto;
    align-self: center;
    font-size: 20pt;
}

.informaciones-notificaciones p {text-align: start;}

.imagen-pelicula-comprada {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    align-items: center;
}

.titular {
    font-size: 24pt;
    font-weight: 700;
}

.mensaje {font-weight:lighter;}
/* CONFIGURACIÓN */


/* //////////////////////////////////////////////////////////////////////////////////////////////// */



/* Estilos para todos */
* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}



/* //////////////////////////////////////////////////////////////////////////////////////////////// */

/* Colores */
:root {
    --fondo: #1A1E27;
    --hover: #2b2b2c;
}

/* Este es el estilo que tendran las todas las paginaes */
.cuerpo-oscuro {
    background-color: #000;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* /////////////////////////////configuracion///////////////////////////////////////// */
/* Colores */
:root {
    --fondo: #1A1E27;
    --hover: #2b2b2c;
}

/* Este es el estilo que tendran las todas las paginaes */
.cuerpo-oscuro {
    background-color: #000;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Contenedor donde se ubucan los dos div almacenados */
.seccions-mobile {display: none;}
.container {display: flex;}

/* Donde estan todos los links */
.sidebar-right {
    /* Recuerda que pusiste el none para poder vizualizar el sidebar-left */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 400px;
    color: #fff;
    height: 650px;
}

.sidebar-right>nav {
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    place-items: center;
}


.sidebar-right nav>a {
    height: 40px;
    border-radius: 5px;
    display: flex;
    place-items: center;
    margin: 2px 0;
    width: 100%;
    padding: 0 15PX;
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    color: white;
    transition: all .2s;
}

/* Hover de los links */
.sidebar-right nav a:hover {
    max-width: 100%;
    border-radius: 8px;
    background-color: var(--hover);
}

/* Links con iconos */
.sidebar-right nav a, i {padding: 3px;}

/* Cabecera */

.header-para-navegar {
    display: flex;
    padding: 10px;
    place-items: center;
}

.header-para-navegar>h1 {
    font-size: 15pt;
    text-align: center;
}

.header-para-navegar .bx {
    cursor: pointer;
    width: 60px;
    height: 40px;
    font-size: 30px;
}

.header-para-navegar > a {color: #FFF;}

/* Mi perfil para previzualizar */
.perfil {
    height: 70px;
    width: 280px;
    cursor: pointer;
    margin: 15px auto;
    display: flex;
    place-content: center;
    background-color: #1A1E27;
    border-radius: 10px;
    transition: all .2s;
}

/* Hover de perfil */
.perfil:hover {
    background-color: var(--hover);
    border-radius: 13px;
}

.perfil>img {
    object-fit:cover;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: relative;
    top: -15%;
    right: 20%;
}

.perfil>a {
    position: relative;
    bottom: 0%;
    width: 200px;
    height: 60px;
    right: 0%;
    margin: 16px 0px 0 10px;
    flex-wrap: wrap;
    place-content: center;
    text-decoration: none;
}


.perfil a>span {
    color: #ffffff;
    display: flex;
    justify-content: start;
    align-items: center;
}

/* Barra para separar */
.separador {
    margin: 20px auto;
    width: 200px;
}

/* El area de la pantalla donde se visualizan las opciones */
.sidebar-left {
    margin: 0px 10px;
    padding: 20px;
    width: 1000px;
    height: 650px;
    color: #fff;
}

/* Esta si es la pantalla */
iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* /////////////////////////////micuenta//////////////////////////////////// */
/* Header */
.header-de-cuenta {
    display: flex;
    justify-content: center;
}
.header-de-cuenta h1 {
    font-size: 20pt;
}
.header-de-cuenta img {
    max-width: 500px;
    width: 50px;
    height: 50px;
    /* border: 1px solid; */
}


/* Main contenedor */
.contenedor-DP {
    position: relative;
    opacity: 1;
    display: flex;
    flex-direction: column;
    transition: .3s;

}

.contenedor-DP h1 {text-align: center;}

.contenedor-datos-personales {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Foto de perfil preview */
.contenedor-datos-personales figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenedor-datos-personales img {
    align-self: center;
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
}
.contenedor-datos-personales figcaption {
    display: flex;
    visibility: visible;
    flex-direction: column;
    margin: 10px;

}
.contenedor-datos-personales #foto {
    cursor: pointer;
    opacity: 0;
    border: 1px solid;
    position: absolute;
    top: 3%;
    right: 28%;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.nombre-de-usuario input, .correo-electronico input, .editar-usuario input, .editar-contrasena input {
    outline: none;
    border: 0;
    font-size: 13pt;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
    height: 34px;
    width: 333px;
    background-color: black;
    border-radius: 10px;
    
}

/* fieldset*/
.fieldset {
    border-radius: 6px;
    width: 200px;
    height: 90px;
    margin: 5px;
}

.fieldset .legend {
    font-weight: 500;
    color: rgb(158, 208, 203);
    border-radius: 10px;
    border: 0;
    padding: 5px;
}


.fieldset-contrasena {
    display: flex;
    position: relative;
}



.fieldset-contrasena .imagen {
    height: 35px;
    cursor: pointer;
    position: absolute;
    right: 10%;
    bottom: 12px;
    width: 35px;
    transform: all .2s;

}

.confirmar_cambios{
    margin: 0 auto;
    display: none;
    margin-top: 20px;
    width: 150px;
    cursor: pointer;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: var(--fondo);
    color: cadetblue;
    transition: all .3s;
    margin-bottom: 7px;
}
.confirmar_cambios:hover {
    background-color: var(--hover);
}
.confirmar_cambios.active {
    display: block;
    transition: all .3s;
}


/* Cuenta de usuario */


#boton-delete {
    border: 0;
    margin: 10px auto;
    display: block;
    background-color: var(--fondo);
    padding: 10px;
    border-radius: 5px;
    color: rgb(255, 0, 0);
    font-size: 10pt;
    cursor: pointer;
    transition: all .2s;
}
#boton-cancelar {
    border: 0;
    margin: 10px auto;
    display: none;
    background-color: var(--fondo);
    padding: 10px;
    border-radius: 5px;
    color: rgb(255, 0, 0);
    font-size: 10pt;
    cursor: pointer;
    transition: all .2s;
}
#boton-delete:hover, #boton-cancelar {background-color: var(--hover);}

.a-eliminar {text-decoration: none;}

/* Este es el modal de eliminar cuenta */
/* Contenedor del modal de HTML */

.eliminar-cuenta {
    display: none;
    position: absolute;
    right: 29%;
    top: 20%;
    width: 380px;
    height: 350px;
    border-radius: 5px;
    background-color: var(--fondo);
    text-align: center;
    padding: 20px;
    transition: all .2s;

}

.eliminar-cuenta h3 {margin: 5px;}

.eliminar-cuenta p {
    margin: 15px;
    font-weight: 300;
}

.eliminar-cuenta a {
    text-decoration: none;
    background-color: #131414;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 10px;
}

/* Ojo */
.eliminar:hover,.eliminar-cuenta .eliminarDef:hover {
    background-color: red;
}

.eliminar-cuenta img {
    width: 100px;
    height: 40px;
    background-color: red;
    border-radius: 5px;
}

/* Boton para cerrar cuenta */

.cerrar:hover, .cerrar2:hover { background-color: rgb(0, 119, 255);}

.confirmarBorrado {
    border: 0;
    outline: none;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all .2s;

}


/* /////////////////////////////ter_y_cond//////////////////////////////////// */

/* Esta es la parte de los articles */
.conteneder-de-termYCond {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.termYCond {text-align: center;}

.contenido_ter_y_cond article { display: flex;}

.contenido_ter_y_cond article, .contenido_ter_y_cond section, .contenido_ter_y_cond h1, .contenido_ter_y_cond p {
    text-align: justify;
    border: 1px solid rgb(54, 49, 49);
    border-radius: 10px;
    padding: 3px;
    margin: 20px;
}


/* ///////////////////////////////////contacto/////////////////////////////////////// */
/* Contenedor principal */
.contenedor-de-contacto {
    height: 1200px;
    width: 730px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 10px;
}

/* Header */
.header-del-contacto img {
    height: 80px;
    display: block;
    margin: 0 auto;
}

.header-del-contacto h1 {text-align: center;}

/* Cajas */
.llamar {
    border-radius: 5px;
    background-color: var(--fondo);
    width: 400px;
    height: 160px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    transition: all .2s;
    cursor: pointer;
}

.llamar:hover { background-color: var(--hover);}

.contenedor-de-contacto h2, p {margin: 7px;}

.ubicacion {
    height: 600px;
    width: 600px;
}



/* /////////////////////////////ayuda//////////////////////////////////// */

.header-de-ayuda {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.header-de-ayuda img {height: 180px;}

.header-de-ayuda h1 {font-size: 28pt;}

.main-de-ayuda p {
    text-align: justify;
    width: 669px;
}

/* /////////////////////////////salircuenta//////////////////////////////////// */
.salir {
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 500px;
    color: #FFF;
}

.salir h2, p {text-align: center;}

.boton {
    display: flex;
    justify-content: center;
}

.boton_1, .boton_2 {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272829;
    width: 100px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    transition: all .2s;
}

.boton_1:hover { background-color: red;}

/* ///////////////////////////////Responsive//////////////////////////////////// */


/* Mobile */
@media screen and (max-width: 430px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 932px;
    }
/* ///////////////////Apartado DISPLAY////////////////// */

/* 
Aqui esta configuracion es del display donde se reproduce todo el contenido de configuracion a traves de un iframe que inconpore
*/
    .display-config {
        margin: 0;
        width: 410px;
        height: 892px;
    }
   .sidebar-right {
    position: sticky;
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: column;
   }


/* Barra de navegacion */
   .seccions-mobile {
    height: 30px;
    align-self: center;
    width: 250px;
    display: flex;
    justify-content: space-between;
    }
    .seccions-mobile i {
        font-size: 22pt;
        color: white;
    }

   .sidebar-right .perfil {
    display: none;
   }
   .sidebar-right .separador {
    display: none;
   }
   .sidebar-right nav {
    display: none;

   }
  .sidebar-left {
    width: 409px;
    height: 799px;
    overflow-y: scroll;
    padding-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sidebar-left iframe {
    width: 380px;
    height: 700px;

  }
  
  
  /* ///////////////// Micuenta en responsive /////////////// */
  .header-de-cuenta {
      width: 300px;
      margin: 0 auto;
    }
    .header-de-cuenta h1 {
        font-size: 18pt;
        align-self: center;
        margin: 5px;
        
    }
    .body-datesPersonals {
        width: 350px;
        height: 100%; 
    }
    .contenedor-DP {
        width: 300px;
        height: 500px;
        position: static;
    }

    .contenedor-datos-personales {
        width: 360px;
    }
    .fieldset-contrasena .password {
    position: absolute;
    right: 5%;
    width: 30px;
}
/* modal de eliminar cuenta */
  .eliminar-cuenta {
    right: 4%;
    height: 360px;
    width: 350px;
  }
  .cerrar {
    background-color: rgb(0, 89, 255);
  }


/* //////////////contacto//////////////////////////// */
    .contenedor-de-contacto {
        border: 1px solid paleturquoise;
        width: 350px;
        height: 620px;

    }
    .contenido-de-contacto .llamar{
        width: 376px;
        margin: 0;
        padding: 0;
    }
    .ubicacion {
        display: flex;
        justify-content: center;
    }
    .ubicacion iframe {
        width: 380px;
        }
/* /////////////////////Terminos y condiciones/////////////////// */

    .contenido_ter_y_cond article {
        display: flex;
        flex-direction: column;
    }
    .contenido_ter_y_cond article, .contenido_ter_y_cond h2,.contenido_ter_y_cond p {border: 0;}

    .contenido_ter_y_cond section {
        width: 330px;
    }
    .contenido_ter_y_cond p {
        font-size: 16pt;
    }
/* ///////////////////Ayuda////////////////////// */

    .header-de-ayuda img {
        height: 120px;
    }
    .main-de-ayuda {
        width: 360px;
    }

    .main-de-ayuda p {
        width: 353px;
        font-size: 16pt;
    }
}


@media screen and (max-width: 800px) {
   /* ^Contacto */

   /* Estilos similares entre terminos y condiciones, contacto y los estilos de ayuda */
    .contenedor-de-contacto, .conteneder-de-termYCond,.ayuda-principal_content {
        width: 360px;
        height: 600px;

    }
    .contenedor-de-contacto .ubicacion {
        width: 360px;
        height: 400px;
    }

    /* Terminos y condiciones */
    .contenido_ter_y_cond article {
        height: 500px;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
    }
    .contenido_ter_y_cond section {
        width: 360px;
    }

    /* Ayuda */
     .main-de-ayuda p {
        width: 360px;
        text-align: justify;
     }

}

