<!DOCTYPE html>
<html lang="es" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilos.css')}}">
</head>
<body class="cuerpo-oscuro imagen scrollbar">
    <header class="header-de-ayuda">
        <figure>
            <img src="../../../static/imagenes/hw7/logo.png" alt="">
        </figure>
        <h1>Ayuda</h1>
    </header>
    <main class="main-de-ayuda">
        <p>¿Cómo guardar a favorito a las películas?</p> <br>

        <p> Debe pulsar click el icono de la banderita y se guardara en favorito.</p> <br>

            <p>¿Cómo quitar una película guardada en favorito?</p>  <br>

           <p>Debe darle de nuevo a la banderita que estará de un color pero de forma completa y automáticamente se le ira todo el color y se eliminara de favorito.</p> <br>

            <p>Cómo salir de la cuenta?</p> <br>
            <p> Ya en el menu principal que puede siempre llegar a el cuando le de a la casina de abajo, leugo abajo al lado izquierdo al lado de la casita que es un menu le pulsas a configuracion y abajo en rojo veras la palabra salir de la cuenta.</p><br>
            <p> ¿Cómo eliminar la cuenta?</p><br>
            <p>Nos dirigimos al icono de menu que esta al lado de la casita en la izquierda, ya cuando le demos simplemente es dar click en configuracion, luego vamos a mi cuenta y saldra en letra roja eliminar cuenta</p>
    </main>
</body>
</html>