<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilos.css')}}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body class="cuerpo-oscuro">
    <div class="contenedor-de-contacto">
        <header class="header-del-contacto">
            <figure>
                <img src="../../../static/imagenes/hw7/logo.png" alt="imagen del logo">
            </figure>
            <h1>Contacto</h1>
        </header>
        <main class="contenido-de-contacto">
            <div class="llamar">
                <h2>LLamar<i class='bx bx-phone-outgoing'></i></h2>
                <p>Si tiene alguna duda o pregunta, puede hablar con nosotros comunicándose al 829-436-3456.</p>
            </div>
        </main>
        <div class="ubicacion">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d470.2618771981874!2d-70.68546285606665!3d19.451469733307942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eb1cf63be096499%3A0xabec66664f8ca92c!2sCaribbean%20Cinemas%20Hollywood%207!5e0!3m2!1ses!2sdo!4v1690209465948!5m2!1ses!2sdo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="mapa"></iframe>
        </div>
    </div>
    <script src="../js/script.js"></script>
</body>
</html>