<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos Personales</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilos.css')}}">
    <link rel="icon" href="../imagenes/favicon.jpg">
</head>
<body class="cuerpo-oscuro body-datesPersonals">
    <header class="header-de-cuenta">
        <!-- <img src="../imagenes/hw7/logo.png" alt="logo">  -->
        <h1>Datos Personales</h1>
    </header> 


    <main class="contenedor-DP">
        <!-- Estas son las cajas -->

        <div class="contenedor-datos-personales">
            <form action="/editarUsuario/{{user[0]}}" method="post">
            <div class="nombre-de-usuario">
                <fieldset class="fieldset" id="fieldset">
                    <legend class="legend" name="nombre">Nombre</legend>
                    <input type="text" class="escribir_datos" id="nombre" value="{{user[1]}}" autocomplete="off">
                </fieldset>
            </div>
            <div class="correo-electronico">
                <fieldset class="fieldset" id="fieldset">
                    <legend class="legend">Apellido</legend>
                <input type="text" name="apellido" class="escribir_datos" id="correo" value="{{user[2]}}" autocomplete="off">
                </fieldset>
            </div>

            <div class="editar-usuario">
                <fieldset class="fieldset" id="fieldset">
                    <legend class="legend">Usuario</legend>
                    <input type="text" class="escribir_datos" id="usuario" name="usuario" value="{{user[4]}}" autocomplete="off">
                </fieldset>
            </div>

            <div class="editar-contrasena">
                <fieldset class="fieldset fieldset-contrasena" id="fieldset">
                    <legend class="legend">Constraseña</legend>
                <input type="password" class="escribir_datos" name="passUsuario" value="{{user[5]}}" id="password" autocomplete="off">
                    <img src="../../../static/imagenes/hw7/visibility_on.svg" alt="foto de ojo password" id="imagen" class="imagen">
                </fieldset>
            </div>
            <!-- Este se encuentra dentro del input principal -->
                <input type="submit" class="confirmar_cambios" onclick="valida()" value="Guardar cambios">
            </form>
            <button id="boton-delete" class="a-eliminar">Eliminar cuenta</button>
        
        </div>



    </main>

    
<!-- Esto es un modal de eliminar la cuenta-->
<div class="modal">
    <div class="eliminar-cuenta">
        <img src="../../../static/imagenes/hw7/warning.svg" alt="Advertencia!">
        <h3>Eliminar cuenta de manera permanente</h3>
        <p>Al eliminar esta cuenta todas tus compras y datos personales se eliminarán de forma permanente.</p>
        <a href="" class="cerrar2">Cancelar</a>
        <a href="/eliminarCuenta/{{user[0]}}" class="eliminarDef">Eliminar</a>
    </div>

</div>



<!-- Modal de confirmar eliminacion de cuenta -->
<div class="confirmDelete">
    <h1>Eliminar cuenta de HW7</h1>
    <p>Para confirmar la eliminacion de la cuenta escriba "AmoHollywoodSiete"</p>
    <form action="">
        <input type="text" id="confirmar" placeholder="Escribe">
    </form>
    <div class="botones-eliminar">
        <input type="button" class="cerrar"  value="Cancelar">
        <input type="button" class="eliminar" target="_black" value="Confirmar">
    </div>
</div>

<!-- Estos son los enlaces de los scripts que llevo hecho -->
<script src="{{url_for('static', filename='js/funcionesBasicas/eliminarCuenta.js')}}"></script>
<script src="{{url_for('static', filename='js/funcionesBasicas/guardarCuenta.js')}}"></script>
<script src="{{url_for('static', filename='js/funcionesBasicas/mostrarBotonSAVE.js')}}"></script>
<script src="{{url_for('static', filename='js/funcionesBasicas/mostrarPass.js')}}"></script>
<script src="{{url_for('static', filename='js/funcionesBasicas/validacionInputs.js')}}"></script>


</body>
</html>