<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilos.css')}}">

</head>
<body class="cuerpo-oscuro">
    <div class="salir">
        <h2>Salir de la cuenta</h2>
        <p>Se cerrará sesión, puedes volver a iniciar en el apartado de "login"</p>
        <div class="boton">
        <a href="/index" class="boton_1" target="_parent">Salir</a>
        </div>

    </div>
    <script src="../js/script.js"></script>
</body>
</html>